<div style="float: left; display: inline; width: 210px; background:transparent; margin-right: 10px; border: 2px solid blue; border-radius: 8px;">
	<center>
		<div id="head_link">
			<h4><%= link_to 'Пользователи', 'users' %></h4>
		</div>
		<div id="head_link">
			<h4><%= link_to 'Права доступа', '#' %></h4>
		</div>
		<div id="head_link">
			<h4><%= link_to 'Новости', '#' %></h4>
		</div>
		<div id="head_link">
			<h4><%= link_to 'Галерея', '#' %></h4>
		</div>
		<div id="head_link">
			<h4><%= link_to 'Выход!', 'logout', :style => 'color: red;' %></h4>
		</div>
	</center>
</div>