		<div class="header">
			<div class = name>Komarov And Щербина <span style="color: white;">Design</span></div>

	  		<div class="login">
	  					<%= form_for @users, html: {class: "login"} do |f| %>
		    				<%= f.text_field :name, :placeholder => 'Имя' %> <br />
		    				<%= f.password_field :password, :placeholder => 'Пароль'  %> <br /><br />
		  					<%= f.submit 'Войти' %> <br />
		  				<% end %>
			</div>
			<!--
			<%= Time.strptime(@var_time.to_s, "%s").strftime("%d.%m.%Y") %>
			-->
		</div>